.text {
    color:darkblue;
    font-family: 'Nanum Gothic';
    font-size: 22px;
}

.content h2 {
    font-weight: bolder;
}

body {
    background-image: url('http://artfcity.com/wp-content/uploads/2014/09/dots-new.gif') !important;
    background-size: cover !important;
    height: 100vh !important;
    padding: 0 !important;
    margin: 0 !important;
}

.row {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.pic img {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.icons img {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 764px) {
    .pic {
        padding-top: 2.5vh;
    }
  }